body {
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: black;
  }
.logo{
    padding-right: 10px;
}  
.navbar-collapse{
      text-align: right;
  }
.footer{
    background: black;
    color: #ffffff;
  }
.row{
    background-color: black;
}
