body {
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: black;
  }
.logo{
    padding-right: 10px;
}  
.navbar-collapse{
      text-align: right;
  }
.navbar{
    background-color: transparent;
    display: absolute;
}
.bg-dark{
    background-color: transparent;
}
.footer{
    color: #ffffff;
  }
.row1{
    background-color: black;
    color: black;
    margin-top: 10px;
}
.parrafos{
    color: #fff;
    text-align: justify;
    display: inline-flex;
    font-size: 13px;
}
.fas{
    color: white;
}
.contacto{
    color: white;
}
.logosfooter{
    text-align: end;
}
.h2{
    margin-top: 30px;
}